asgiref
billiard
celery
channels
channels-redis
cryptography
daphne
dj-database-url
Django
django-cors-headers
django-extensions
django-redis
djangorestframework
djangorestframework-simplejwt
gunicorn
psycopg2-binary
redis
sqlparse
whitenoise
